<%= form_with(model: exercise_type) do |form| %>
  <% if exercise_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise_type.errors.count, "error") %> prohibited this exercise_type from being saved:</h2>

      <ul>
        <% exercise_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
